@import '~@angular/material/theming';

@mixin light-dark-theme($primary, $accent, $warn) {
    $theme: mat-light-theme($primary, $accent, $warn);
    @include angular-material-theme($theme);
    @include custom-theme($theme);

    &.dark {
        $theme: mat-dark-theme($primary, $accent, $warn);
        @include angular-material-theme($theme);
        @include custom-theme($theme);
    }
}

@mixin custom-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

    .header {
        background-color: mat-color($primary);
    }
}

@include mat-core();

@import 'themes/default';
@import 'themes/indigo';
@import 'themes/yellow';
@import 'themes/icicle';
@import 'themes/red';
@import 'themes/green';
@import 'themes/mono';