app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.mat-app-background {
    min-height: calc(100vh - 56px - 1rem);
    padding-top: 56px;
    padding-bottom: 1rem;
}